.env

package-lock.json
node_modules/
stats.html

/ui/src/semantic/*
!/ui/src/semantic/src/
/ui/src/semantic/src/*
!/ui/src/semantic/src/theme.config
!/ui/src/semantic/src/site/

__pycache__/
*.py[co]
